<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
 <%= f.fields_for :authors do |a| %>
   <%=a.label :author, "Author!" %><br />
  <%= a.text_field :author, :rows => 2 %>

 <%end%>
</div>

