<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
 <%= f.fields_for :authors do |a| %>
  <%= render 'author_fields', :f => a %>
 <%end%>
 <%= link_to_add_fields "Add Author", f, :authors %>

</div>

