<h1>New Card</h1>


<%= form_for(@card) do |f| %>

 <div class="field">
    <%= f.label :suit_id %><br />
    <%= f.select(:suit_id, Suit.all.collect { |p| [p.name, p.id]}, {:include_blank => 'None'}) %>
  </div>

<div class="field">
    <%= f.label :value_id %><br />
    <%= f.select(:value_id, CardValue.all.collect { |p| [p.name, p.id]}, {:include_blank => 'None'}) %>
  </div>

  <div class="actions">
    <%= f.submit "Create your card!" %>
  </div>

<% end %>

